---
- name: mkdir env-ymls
  become: '{{conda_env_escalate}}'
  become_user: root
  file: >-
    path={{conda_env_env_ymls}}
    state=directory
    mode=0755

- name: injecting...
  become: '{{conda_env_escalate}}'
  become_user: root
  copy: >-
    src={{conda_env_environment}}
    dest={{conda_env_fq_dest_environment}}
    mode=0644

- name: create the conda environment
  become: '{{conda_env_escalate}}'
  become_user: root
  command: '{{conda_env_bin_dir}}/conda env create -f={{conda_env_fq_dest_environment}} -q -n {{conda_env_name}}'
  args:
    creates: '{{conda_env_conda_dir}}/envs/{{conda_env_name}}'

- name: addl packages...
  become: '{{conda_env_escalate}}'
  become_user: root
  when: conda_env_addl_pkgs is defined
  command: '{{conda_env_bin_dir}}/conda install -n {{conda_env_name}} {{conda_env_addl_pkgs | default([]) | join(" ")}}'

- name: cleanup
  become: '{{conda_env_escalate}}'
  become_user: root
  when: conda_env_cleanup
  command: '{{conda_env_bin_dir}}/conda clean -tipsy'
